@use 'variable';
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 0 60px;
  
    &-text {
      width: 50%;
  
      h1 {
        font-size: 4.2rem;
      }
  
      p {
        padding: 10px 0;
        font-size: 1.2rem;
        margin-top: 10px;
      }
    }
  
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 800px;
  
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  
    // Responsive
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      padding: 30px 5%;
      text-align: center;
  
      &-text {
        width: 100%;
  
        h1 {
          font-size: 2rem;
          line-height: 1.2;
        }
      }
  
      &-image {
        height: 300px;
        margin-bottom: 30px;
      }
    }
  }