@use 'variable';


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin hover-effect {
    transition: all 0.3s ease;
    
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
  
  @mixin gradient-text {
    background: $gradient-btn-cv;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  @mixin button-glow($color) {
    box-shadow: 0 0 10px rgba($color, 0.5);
    animation: pulse 1.5s infinite;
  
    @keyframes pulse {
      0% { box-shadow: 0 0 10px rgba($color, 0.5); }
      50% { box-shadow: 0 0 20px rgba($color, 0.8); }
      100% { box-shadow: 0 0 10px rgba($color, 0.5); }
    }
  }