@use 'variable';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $navbar-padding;
    position: relative;
  
    .menu {
      display: flex;
      list-style: none;
      margin-left: auto;
  
      li {
        margin-right: 1.5rem;
  
        &:last-child {
          margin-right: 0;
        }
      }
  
      a {
        color: #5a49c6;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
  
        &:hover {
          color: #3498db;
          font-weight: 700;
        }
      }
    }
  
    .logo {
      color: #5a49c6;
      font-size: 1.8rem;
      font-weight: bold;
      order: -1;
    }
  
    .btn-cv {
      background: $gradient-btn-cv;
      border-radius: $border-radius;
      padding: 0.5rem 1rem !important;
      color: white !important;
  
      &:hover {
        background-color: #2980b9;
      }
    }
  
    // Estilos para móvil
    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: 1rem;
  
      .hamburger-btn {
        display: block;
        order: 1;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
      }
  
      .logo {
        order: 2;
        margin-left: auto;
      }
  
      .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 3;
        margin-top: 1rem;
        padding: 1rem 0;
        background-color: rgba(144, 124, 255, 1);
        border-radius: 5px;
  
        &.active {
          display: flex;
        }
  
        li {
          margin: 0.5rem 0;
          text-align: center;
        }
  
        a {
          color: white;
          display: block;
          padding: 0.8rem;
        }
      }
    }
  }