@use 'variable';
.por {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 15px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }
  
  .project-card {
    background: white;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: $card-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    @include hover-effect;
  
    &-content {
      padding: 25px;
  
      img {
        width: 100%;
      }
    }
  }
  
  .tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  
    span {
      background: $gradient-btn-cv;
      padding: 5px 12px;
      border-radius: 20px;
      font-size: 0.85rem;
      font-weight: 600;
      color: $light-bg;
    }
  }