// Colores
$primary-color: #2d3436;
$secondary-color: #0984e3;
$accent-color: #00cec9;
$text-color: #2d3436;
$light-bg: #f5f6fa;
$medium-gray: #e0e0e0;
$dark-gray: #757575;
$error-color: #e74c3c;
$success-color: #2ecc71;

// Gradientes
$gradient-primary: linear-gradient(to right, #6A5ACD, #007BFF);
$gradient-btn-cv: linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(144, 124, 255, 1) 100%);

// Sombras
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

// Tamaños
$navbar-padding: 1rem 2rem;
$section-padding: 40px 20px;
$border-radius: 30px;