@import 'variable';
@import 'reset';
@import 'buttons';
@import 'hero';
@import 'mixins';
@import 'navbar';
@import 'projects';
@import 'about';
@import 'skills';
@import 'contact';
@import 'footer';
@import 'typography';
@import 'forms';
// Estilos globales
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $section-padding;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  
    a img {
      width: 40px;
      height: 40px;
      transition: transform 0.3s;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }